# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# Vercel & Editor specific
.vercel
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
