# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
*.db
*.sqlite3
*.db-journal

# Logs
*.log
logs/

# Vercel & Editor specific
.vercel
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Application specific
app.log
app.py.backup
